<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "header.html" . -}}

<body>
  <div id="content">
    {{- partial "nav.html" . -}}
    {{- block "main" . -}}
    {{ end }}
  </div>

{{- partial "footer.html" . -}}

</body>
</html>