{{define "main"}}
<section class="container mt-3">
    <h2 class="text-center">{{.Title}} <a href='{{.Permalink}}index.xml'><span
                class="m-1 btn btn-sm btn-outline-warning">RSS Feed</span></a></h2>
    <link rel="alternate" type="application/rss+xml" href='{{.Permalink}}index.xml'
        title="{{ .Title }} on {{ .Site.Title }}">

    {{if eq .Kind "section"}}
    {{ $textos := .Site.Taxonomies.tags.texto }}
    {{ $len_texto := len $textos }}

    {{ $slides := .Site.Taxonomies.tags.slides }}
    {{ $len_slides := len $slides }}

    {{ $lives := .Site.Taxonomies.tags.live }}
    {{ $len_lives := len $lives }}

    {{ $english := .Site.Taxonomies.tags.english }}
    {{ $len_english := len $english }}

    Listar somente <span class='badge badge-primary'><a class='text-white'
            href='{{ "tags/" | absURL }}{{ "texto" }}'>Textos ({{$len_texto}})</a></span>
    , <span class='badge badge-primary'><a class='text-white' href='{{ "tags/" | absURL }}{{ "slides" }}'>Slides
            ({{$len_slides}})</a></span>
    e <span class='badge badge-primary'><a class='text-white' href='{{ "tags/" | absURL }}{{ "live" }}'>Lives
            ({{$len_lives}})</a></span>
    <br />
    Or posts in <span class='badge badge-primary'><a class='text-white'
            href='{{ "tags/" | absURL }}{{ "english" }}'>English ({{$len_english}})</a></span>
    {{end}}

    {{if eq .Kind "taxonomy"}}
    {{range $key, $value := .Data.Terms.Alphabetical}}
    <span class='badge badge-primary'><a class='text-white' href='{{ "tags/" | absURL }}{{ $value.Name | lower }}/'>{{
            $value.Name }} ({{.Count }})</a></span>
    {{end}}
    {{else}}
    <div class="col-md-auto">
        {{range .Pages}}
        <div class="row-md-auto mt-3">
            <h6><a href="{{.Permalink}}">{{ .Title }}</a></h6>
            {{if eq .Section "blog"}}
            <small class="text-monospace text-secondary">{{.PublishDate.Format "2 January, 2006"}} | {{.ReadingTime}}
                minutos</small>
            {{end}}
        </div>
        {{end}}
    </div>
    {{end }}
</section>
{{if .Site.Params.search.enabled}}
{{partial "search.html" .}}
{{end}}
{{end}}

