{{define "main"}}
{{ if eq .Section "blog"}}
	<section class="container mt-3">
	  <h2 class="font-weight-bold">{{.Title}}</h2>
	  <small class="text-secondary text-monospace mb-5">Postado em {{ .PublishDate.Format "2 January, 2006" }} | {{.ReadingTime}} minutos</small>
	  <br>
	  <div class="text-monospace">
		Tags:
		{{- range .Params.tags -}}
			<span class='badge badge-primary'><a class='text-white' href='{{ "tags/" | absURL }}{{ . | lower }}'>{{ . }}</a></span>
		{{ end }}
	  </div>
	  <hr> 
	  <div class="mt-2">
		  {{ .Content }}
	  </div>
	    {{ if .Site.Params.disqus }}
	      {{ template "_internal/disqus.html" . }}
	    {{end}}
	</section>
{{else}}
	<section class="container text-justified mt-3">
	  <h2 class="text-center mb-4">{{.Title}}</h2>
	    <div class="">
			{{ .Content }}
		</div>
	</section>
{{end}}
{{ if .Site.Params.search.enabled}}
    {{partial "search.html" .}}
{{end}}
{{end}}
