<footer>
  <div class="container-fluid bg-dark text-white text-monospace text-center mt-2">
    <small>This site is licensed under a <a class='text-warning'
        href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> licence | Powered by <a
        class='text-warning' href="https://gohugo.io">Hugo</a> | Based on <a class='text-warning'
        href="https://themes.gohugo.io/monopriv">Monopriv</a> theme </small>
  </div>
  {{ if .Site.Params.analytics }}
  {{ template "_internal/google_analytics.html" . }}
  {{ end }}
</footer>