<head>
	<meta charset="utf-8">
	<meta http-equiv="onion-location" content="http://zgjjgd2o7zh4u76b5d5fpyekeif4nmbtbktufe7z4vaa6sazeraz4nyd.onion{{ .RelPermalink }}" />
	<link rel="alternate" type="application/rss+xml" href='{{ "blog/index.xml" | absURL }}' title="{{ .Site.Title }}">
	{{if .IsHome}}
		<meta name="description" content='{{ .Site.Params.metadesc }}'>
		<meta name="keywords" content='{{ .Site.Params.metakeys }}'>
	{{else}}
		{{if eq .Section "blog"}}
			<meta name="description" content='{{ .Title }}'>
			<meta name="keywords" content='{{delimit .Keywords ", " }}'>
		{{end}}
	<!-- {{range .Params.tags}}{{.}}{{", "}}{{end}} -->
	{{end}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ hugo.Generator }}
	<link rel="stylesheet" type="text/css" href='{{ "css/bootstrap.min.css" | absURL }}' integrity="sha512-m/nPFWFq2kU1iJ0jMzQ73kzKoKlta0hVvVwTtgQcbeO+2LHe9YcmkmhaQk/VCZ9v3XmoYsqAiVOSHEljboaG4A==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href='{{ "css/custom.css" | absURL }}' integrity="sha512-P+vJen8GiB3FiPztv1MIA+AjWMRxNhAV6TpLNYTRMsA4iE/th5ixlTlmfkLx2RIWixhDJ8mw/UTpGfZElZJrFA==" crossorigin="anonymous">
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
</head>
