<section class="container text-monospace">
  <div class="container text-center">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title="Icon by freepik <www.flaticon.com>" width="200px"/>
    {{end}}
		<h3 class="mt-3">{{ .Content }}</h3>
		<br><br>
    	<div class="bg">
			<a href='{{ .Site.Params.gitlab }}'><span class="badge badge-pill badge-primary">Gitlab</span></a>
			<a href='{{ .Site.Params.github }}'><span class="badge badge-pill badge-dark">Github</span></a>
			<a href='{{ "about/" | absURL }}'><span class="badge badge-pill badge-success">Email/Signal</span></a>
			<a href='https://keybase.io/caioau/key.asc'><span class="badge badge-pill badge-info">GPG Key</span></a>
			<a href='{{ "blog/index.xml" | absURL }}'><span class="badge badge-pill badge-warning">RSS Feed</span></a>
    	</div>
	</div>
</section>
