<nav class="nav justify-content-center sticky-top bg mt-2 mb-5">
    <a href='{{ .Site.BaseURL }}'><span class="m-1 btn btn-sm btn-outline-primary">Home</span></a>
    <a href='{{ "about/" | absURL }}'><span class="m-1 btn btn-sm btn-outline-secondary">About / Contact</span></a>
    <a href='{{ "tor-relays/" | absURL }}'><span class="m-1 btn btn-sm btn-outline-secondary">Relays</span></a>
    <a href='{{ "blog/" | absURL }}'><span class="m-1 btn btn-sm btn-outline-success">Blog</span></a>
    <a href='{{ "tags/" | absURL }}'><span class="m-1 btn btn-sm btn-outline-warning">tags</span></a>
</nav>
