img { /* for mobile phones, for images dont be bigger than the screen */ 
  max-width: 100%;
  height: auto; 
}

p { /* same as img, for mobile phones the text is bigger than the screen*/

  word-break: break-word;

  overflow-wrap: break-word;

}

.logo__cursor {
  display: inline-block;
  width: 1rem;
  height: 2rem;
  background: #00ff00;
  margin-left: -0.8rem;
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite
}

@keyframes cursor {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}
