{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container mt-4">
    {{ if .Site.Params.search.enabled }}
        {{partial "search.html" .}}
    {{end}}
	<div class="card-columns mt-3">
    {{ range first 6 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
				<div class="border-secondary card" style="border-style:dashed">
					<div class="card-body">
					  <h5 class="font-weight-bold card-title"><a href="{{.Permalink}}" class="text-monospace card-link">{{.Title}}</a></h5>
					  <h6 class="text-monospace card-subtitle mb-2 text-muted">{{ .PublishDate.Format "2 January, 2006" }}</h6>
					  <p class="card-text text-monospace">{{.Summary}}</p>
					  <a href="{{.Permalink}}" class="text-monospace card-link"><p>Continue lendo</p></a>
					</div>
			  </div>
			{{end}}
		</div>
<a href='{{ "blog" | absURL }}' ><p>Publicações mais antigas</p></a>
</section>
{{end}}
